

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Sign Up</h2>
          <form [formGroup]="formRegister" (ngSubmit)="onRegister()">

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example1">Email address</label>
              <input type="email" formControlName="emailReg" class="form-control" />

              @if(formRegister.get('emailReg')?.invalid && (formRegister.get('emailReg')?.dirty || formRegister.get('emailReg')?.touched)){

                <div class="row">
                    <small class="text-danger">Enter an email correctly.</small>
                </div>
              }
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="form2Example2">Password</label>
              <input type="password" formControlName="passwordReg" class="form-control" />

              @if(formRegister.get('passwordReg')?.invalid && (formRegister.get('passwordReg')?.dirty || formRegister.get('passwordReg')?.touched)){

                <div class="row">
                    <small class="text-danger">Password is required, and must be at least 6 characters.</small>
                </div>
              }
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>

            <div class="text-center">
              <p>You are a member? <a routerLink="/login">Log In</a></p>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>
