.custom-image {
    position: relative;
    z-index: 1; 
    background: 
        linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), /* Degradado de negro a transparente */
        url('../../../../public/assets/starwars-home.jpeg'); /* Imagen de fondo */
    background-size: cover; 
    background-position: center; 
    padding: 20px;
    color: white;
    height: 60vh; 
}