@if(arrPilots.length>0){

    <div class="container">

        <div class="row">
            <h3 class="col my-4 text-center">Pilots</h3>
        </div>

        <div class="row justify-content-center">
            @for(pilot of arrPilots; track pilot.id){
                    <div class="card col-3 m-3 text-center">
                        <img class="card-img-top" src="https://starwars-visualguide.com/assets/img/characters/{{pilot.id}}.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5>{{pilot.name|uppercase}}</h5>
                        </div>
                    </div>
            }
        </div>
    </div>
    <br><br>
}
