<div class="container">

    @if(StarshipError){
        <div class="card m-5 p-5">
            This starship doesn't exist or there has been an error.
        </div>
    }

    @if(isLoading){
        <div class="loading-container">
            <p>Loading data...</p>
            <div class="spinner"></div> 
        </div>
    }

    @if(starship){

        <h2>{{ starship.name | uppercase }}</h2>
        <h4 class="m-3">Features</h4>
        <div class="card m-3">       
            <div class="card m-2">
                <div class="card-body">
                    <div class="row">

                        <div class="col-12 col-md-4 mb-3">
                                <img src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg" 
                                alt="{{ starship.model }}" 
                                class="img-fluid"
                                onerror="this.onerror=null; this.src='assets/image-not-found.png';">
                        </div>

                        <div class="col-12 col-md-8">
                        
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p><b>Model: </b> {{ starship.model }}</p>
                                    <p><b>Cost in credits: </b> {{ starship.cost_in_credits }}</p>
                                    <p><b>Cargo Capacity: </b> {{ starship.cargo_capacity }}</p>
                                </div>

                                <div class="col-12 col-md-6">
                                    <p><b>Manufacturer: </b>{{ starship.manufacturer }}</p>
                                    <p><b>Length: </b>{{ starship.length }}</p>
                                    <p><b>Crew: </b>{{ starship.crew }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-pilots [starship]="starship"></app-pilots>
        <app-films [starship]="starship"></app-films>

    }

</div>


