<div class="container">

    <h2>{{ starship.name | uppercase }}</h2>

    <h4 class="m-3">Features</h4>
    <div class="card m-3">

        @if(starship){
            <div class="card m-2">
                <div class="card-body">
                    <div class="row">

                        <div class="col-12 col-md-4 mb-3">
                                <img src="https://starwars-visualguide.com/assets/img/starships/{{id}}.jpg" 
                                alt="{{ starship.model }}" 
                                class="img-fluid"
                                onerror="this.onerror=null; this.src='assets/image-not-found.png';">
                        </div>

                        <div class="col-12 col-md-8">
                        
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <p><b>Model: </b> {{ starship.model }}</p>
                                    <p><b>Cost in credits: </b> {{ starship.cost_in_credits }}</p>
                                    <p><b>Cargo Capacity: </b> {{ starship.cargo_capacity }}</p>
                                </div>

                                <div class="col-12 col-md-6">
                                    <p><b>Manufacturer: </b>{{ starship.manufacturer }}</p>
                                    <p><b>Length: </b>{{ starship.length }}</p>
                                    <p><b>Crew: </b>{{ starship.crew }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }@else{
            <div class="m-5">
                This starship doesn't exist or there has been an error.
            </div>
        }

    </div>

    @if(arrPilots.length>0){

        <br>
        <h4 class="m-3">Pilots</h4>
    
        <div class="container">
            <div class="row">
                @for(pilot of arrPilots; track pilot.id){
                    <div class="col md-3">
                        <div class="card m-3 text-center">
                            <img class="card-img-top" src="https://starwars-visualguide.com/assets/img/characters/{{pilot.id}}.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5>{{pilot.name|uppercase}}</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br><br>
    }

    @if(arrFilms.length>0){

        <br>
        <h4 class="m-3">Films</h4>
    
        <div class="container">
            <div class="row">
                @for(film of arrFilms; track film.id){
                    <div class="col md-3">
                        <div class="card m-3 text-center">
                            <img class="card-img-top" src="https://starwars-visualguide.com/assets/img/films/{{film.id}}.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5>{{film.title|uppercase}}</h5>
                                <h5>{{film.episode_id}}</h5>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br><br>
    }
    

</div>
