@if(arrFilms.length>0){


        <div class="row">
            <h3 class="col my-4 text-center title-with-line">Films</h3>
        </div>

        <div class="row justify-content-center">
            @for(film of arrFilms; track film.id){
                
                <div class="card d-flex m-2 shadow text-center">
                    <img class="card-img-top" src="https://starwars-visualguide.com/assets/img/films/{{film.id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <div class="card-text">
                            <h6>{{film.title|uppercase}}</h6>
                            <h6>Episode: {{film.episode_id}}</h6>
                        </div>
                    </div>
                </div>

            }
        </div>

    <br><br>
}


